
  <h2>Nouvelle demande de congé</h2>
  <p>
    Par: <%= @demande.utilisateur.nom + '' + @demande.utilisateur.prenom %>
  </p>
  <p>
    Debut: <%= @demande.debut %>
  </p>
  <p>
    Fin: <%= @demande.fin %>
  </p>
  <p>
    Nombre de jours: <%= @demande.nb_jours %>
  </p>
  <p>Merci waay :-D</p>
